<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279348961490-f2a07mvnugo4pj33hp9ncis6hgl00ump.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279348961490-f2a07mvnugo4pj33hp9ncis6hgl00ump</string>
	<key>API_KEY</key>
	<string>AIzaSyBu94EMjSV1sKOQrC1GqBKgwQc6Yu6nfTs</string>
	<key>GCM_SENDER_ID</key>
	<string>279348961490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yuru.personal.project.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-baf50</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-baf50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279348961490:ios:24ccea57500ffaa7260d0b</string>
</dict>
</plist>